.text-bold {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
